.postProfilePic{
    width: 80px;
    height: 80px;
}

.postUserText{
    font-size: 1vw;
}

.postUserBtn{
    font-size: 1vw;
}

.postUserContent {
    font-size: 1.2vw;
}

.postUserPic{
    width: auto;
    max-height: 500px;
    object-fit: cover;
    object-position: center;
}

.postLikes {
    font-size: 12px;
}

.postActionBtn{
    font-size: 15px;
}
@media (max-width: 1200px){
    .postProfilePic{
        width: 60px;
        height: 60px;
    }
    .postActionBtn{
        font-size: 10px;
    }
    .postLikes {
        font-size: 10px;
    }
}

@media (max-width: 750px){
    .postProfilePic{
        width: 50px;
        height: 50px;
    }
    .postUserText{
        font-size: 1.2vw;
    } 
    .postUserBtn{
        font-size: 1.2vw;
    }
    .postActionBtn{
        font-size: 1vw;
    }
    .postLikes {
        font-size: 1vw;
    }
}