.sideBarPic{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.card-subtitle{
    font-size: 1.2rem;
}

.card-text{
    font-size: 1rem;
}

@media (max-width: 1110px) {
    .card-subtitle{
        font-size: 1rem;
    }
    .card-text{
        font-size: 0.8rem;
    }
    
}

@media (max-width: 930px) {
    .card-subtitle{
        font-size: 0.8rem;
    }
    .card-text{
        font-size: 0.6rem;
    }
    
}

@media (max-width: 790px) {
    .card-subtitle{
        font-size: 0.6rem;
    }
    .card-text{
        font-size: 0.5rem;
    }

    .sideBarPic {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 600px) {

    .sideBarPic {
        width: 70%;
        height: 70%;
    }
}

