.sideBarPic{
    width: 40%;
    height: 40%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.card-subtitle{
    font-size: 1vw;
}

.card-text{
    font-size: 0.9vw;
}

.sideBarBtn{
    font-size: 0.9vw;
}

@media (max-width: 900px) {
    .card-subtitle{
        font-size: 1.3vw;
    }
    .card-text{
        font-size: 1.1vw;
    }
    .sideBarBtn{
        font-size: 1.3vw;
    }

    .sideBarPic {
        width: 60%;
        height: 60%;
    }
}

@media (max-width: 600px) {

    .sideBarPic {
        width: 70%;
        height: 70%;
    }
}

