.sideBarPic{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.cardFont{
    font-size: 1vw;
}

.cardFont2{
    font-size: 0.9vw;
}

.sideBarBtn{
    font-size: 0.9vw;
}

@media (max-width: 1000px) {
    .sideBarPic{
        width: 100px;
        height: 100px;
    }
}

@media (max-width: 900px) {
    .cardFont{
        font-size: 1.3vw;
    }
    .cardFont2{
        font-size: 1.1vw;
    }
    .sideBarBtn{
        font-size: 1.3vw;
    }
}

@media (max-width: 700px) {
    .sideBarPic {
        width: 65px;
        height: 65px;
    }
}

@media (max-width: 400px){
    .sideBarPic {
        width: 40px;
        height: 40px;
    }
}

